#fixedBarDiv {
    border: 0px solid black;
    width: 100%;
    margin-top: 0%;
    /* background-image: linear-gradient(red, yellow); */
}

body {
    margin: 0;
    margin-top: 0%;
    padding: 0;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


.search {
    width: 1000px;
    text-align: center;
}

#headerLogo {
    height: 150px;
    padding-right: 0%;
}

#searchbar {
    width: 30%;
}

#headerLogoSearchTable {
    background-image: linear-gradient(180deg, #710a3a 40%, #1A9BD2 80%, #3DA5EC);
    width: 100%;
    height: 5%;
    border-bottom: 1px solid black;
}

#mainWeatherDiv {
    background-color: #3DA5EC;
}

html {
    max-height: 100%;
}