
/* CANVAS CSS */

canvas {
    /* height: 1080px;
    width: 1920px; */
    max-height: 70vh;
    max-width: 80vw;
    margin-left: 5vw;
    background-color: #3DA5EC;
    /* background-color: #cf00f9; */

}



#fixedBarDiv {
    border: 0px solid black;
    width: 100%;
    margin-top: 0%;
    height: 50vh;
    /* background-image: linear-gradient(red, yellow); */
}

html {
    padding: 0px;
    margin: 0px;
    border-color: black;
    outline-color: black;
}



body {
    margin: 0;
    margin-top: 0%;
    padding: 0;
}


.search {
    width: 1000px;
    text-align: center;
}

td {
    height: 50%;
}

#headerLogo {
    height: 20vh;
    padding-right: 0%;
}

#searchbar {
    width: 30%;
}

#headerLogoSearchTable {
    background-image: linear-gradient(180deg, black 40%, #1A9BD2 80%, #3DA5EC);
    width: 100%;
    height: 50%;
    border-bottom: 0px solid black;
}

#mainWeatherDiv {
    background-color: #3DA5EC;
    /* background-color: #ffffff; */
    height:80vh;
    width: 100%;
    max-height: 80vh;
    overflow:hidden;
    /* if overflow is hidden, then any overflowing elements (like the recentWeatherDiv when the dev console is open) will simply not be shown instead of extending the page. */
    float: left;
}

#recentWeatherDiv {
    border: 0px solid black;
    float: right;
    height: 60vh;
    width: 15vw;
    margin-top: 5vh;
    margin-bottom: 10%;
    margin-right: 3%;
}

html {
    max-height: 100vh;
} 

#searchBtn {
    width: 40px;
    height: 20px;
}
#searchBtn:hover {
    background-color: orange;
    width: 50px;
    height: 25px;
}

#recentResult {
    height: 50vh;
    width: 100%;
    resize: none;
}

#recentTab {
    text-align: center;
}

#map{
    float: right;
}

#weatherDivToggleButton{
    margin-left: 30%;
    width: 40%
}

#weatherManualDiv {
    background-color: #3DA5EC;
    height:80vh;
    width: 100%;
    max-height: 80vh;
    overflow:hidden;
    float: left;
    text-align: center;
}