
/* CANVAS CSS */

canvas {
    border: 1px solid #82d5f8;
    height: (50%);
    width: 80%;
    max-height: 75vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #3DA5EC;
}






#fixedBarDiv {
    border: 0px solid black;
    width: 100%;
    margin-top: 0%;
    height: 50vh;
    /* background-image: linear-gradient(red, yellow); */
}

html {
    padding: 0px;
    margin: 0px;
    border-color: black;
    outline-color: black;
}



body {
    margin: 0;
    margin-top: 0%;
    padding: 0;
}


.search {
    width: 1000px;
    text-align: center;
}

td {
    height: 50%;
}

#headerLogo {
    height: 20vh;
    padding-right: 0%;
}

#searchbar {
    width: 30%;
}

#headerLogoSearchTable {
    background-image: linear-gradient(180deg, black 40%, #1A9BD2 80%, #3DA5EC);
    width: 100%;
    height: 50%;
    border-bottom: 0px solid black;
}

#mainWeatherDiv {
    background-color: #3DA5EC;
    height:80vh;
    width: 100%;
    /* height: calc(100% - 200px); */
    /* THE PX VALUE HERE IS EQUAL TO THE HEIGHT OF THE headerLogo  */

}

html {
    max-height: 100%;
}

#tests {
/* make sure it is at least as tall as the viewport */
    position:relative;
}